//ALL PAGE
.page{
    overflow-x: hidden;
}

.ugb-container {
    box-shadow: none;
}

.page-id-18 .entry-title {
    display: none;
}

//CUSTOMER PAGE
.img-mobile-icon{
    display: none;
}

.download-customer{
    background-color: $brown !important;
}

//CUSTOMER PAGE - HEADER
.download-header,
.demo-header{
    padding-right: 0;
    padding-top: 0 !important;
    padding-left: 0 !important;
}

.download-header .ugb-container__content-wrapper,
.demo-header .ugb-container__content-wrapper {
    display: flex;
    justify-content: flex-start;
    //justify-content: space-around;
    //align-items: center;
    position: relative;
    padding-left: 1rem;
    padding-top: 1rem;
}

.download-footer .ugb-container__content-wrapper,
.demo-footer .ugb-container__content-wrapper {
    display: flex;
    justify-content: center;
    //justify-content: space-around;
    //align-items: center;
    position: relative;
    padding-left: 1rem;
    padding-top: 1rem;

    h2 {
        text-align: center;
    }
}

.demo-header {
    .ugb-container__content-wrapper {
        padding-top: 1rem;
    }
}

.demo-footer {
    padding-top: 0;
    .ugb-container__content-wrapper {
        margin-top: 0 !important;
        padding-top: 0;
    }
}

.download-customer,
.download,
.demo-restaurant,
.demo-text {
    color: white;
    overflow: visible;
    border: none;

}

.download,
.demo-text{
    width: 70%;
    .ugb-container__content-wrapper{
        display: block;
    }

    .demo-buttons-header,
    .demo-buttons-footer {
        padding: 0 !important;
        text-align: center;

        .ugb-container__content-wrapper {
            padding: 0 !important;
        }
    }

    .download-buttons-container .ugb-container__content-wrapper,
    .demo-buttons-container .ugb-container__content-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .wp-block-image{
            width: 48%;
        }
    }
}

.demo-header-text {
    padding-top: 0;
}

.download-header,
.demo-header-text{
    position: relative;
    height: fit-content;
    padding-bottom: 0%;

    // .img-background-kiwe-icon{
    //     position: absolute;
    //     right: -2vw;
    //     top: 50%;
    //     transform: scale(2.2) translateY(-25%);
    //     z-index: 0;
    // }

}

.demo-header-text {
    margin-bottom: 0 !important;
    .ugb-container__content-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 160px 1fr 75px 125px;
        padding-left: 1rem;

        h2, p {
            grid-column: 1 / 3;
        }

        .demo-buttons-container {
            grid-column: 1 / 3;
        }

        .demo-buttons-container {
            .ugb-container__content-wrapper {
                display: block;
                
                .wp-block-button__link {
                    background-color: $brown;
                    border-radius: 4.5px;
                    width: 180px;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
    }
}

.demo-footer-text {
    position: relative;
    padding-top: 0;

    .ugb-container__content-wrapper {
        margin-top: 25vh !important;

    }
    .demo-buttons-container {
        .ugb-container__content-wrapper {
            display: block;
            margin-top: 0 !important;
            
            .wp-block-button__link {
                background-color: $brown;
                border-radius: 4.5px;
                width: 180px;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }}

@media screen and (min-width:334px) {
    .demo-header-text {
        .ugb-container__content-wrapper {
            grid-template-rows: 120px 1fr 75px 125px;
        }
    }

}

@media screen and (min-width:453px) {
    .demo-header-text {
        .ugb-container__content-wrapper {
            grid-template-rows: 90px 1fr 60px 125px;
        }
    }
}

@media screen and (min-width:585px) {
    .demo-header-text {
        .ugb-container__content-wrapper {
            grid-template-rows: 90px 1fr 60px 62px;

            .demo-buttons-container {
                .ugb-container__content-wrapper {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    align-items: center;

                    .demo-button,
                    .button-learn {
                        margin-bottom: 0 !important;
                    }
                }
            }

            // .button-demo {
            //     grid-column: 1 / 2;
            // }

            // .button-learn {
            //     grid-column: 2 / 3;
            // }
        }
    }

    .demo-footer-text {
        .demo-buttons-container {
            .ugb-container__content-wrapper {
                display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;

                    .demo-button,
                    .button-learn {
                        margin: auto 1% 0 1% !important;
                    }
            }
        }
    }
}

.img-background-header {
    position: absolute;
    width: 100%;
    right: 0;
    img{
    top: 0;
    width: 100%;
    height: auto;
    //padding-top: 3%;
    padding-right:0;
    }
}

//CUSTOMER PAGE - FOOTER

.download-footer,
.demo-footer{
    padding-left: 0;
    padding-top:3%;
}

.img-background-footer {
    position: absolute;
    width: 100%;
    left: 0;
    img{
    top: 0;
    width: 100%;
    height: auto;
    padding-top: 3%;
    padding-right:0;
    }
}

.download-footer{ 
        
        .download{
            justify-content: center;
        }
}
//END OF CUSTOMER PAGE 

// RESTAURANT PAGE
.img-desktop-icon{
    display: none;
}

.demo-restaurant{
    background-color: $main-green !important;
}


// RESTAURANT PAGE - HEADER


// RESTAURATN PAGE - FOOTER

.demo-footer {
    margin-left: 0;
    padding-bottom: 0 !important;
}

.page-id-18 #content {
    background-color: hotpink;
}


//END OF RESTAURANT PAGE 
@media screen and (min-width: 1000px){
    .download,
    .demo-header-text{
            width: 40%;
    }

    .button-learn {
        margin-bottom: 0 !important;
    }

    .demo-header {
        padding-top: 60px !important;
        padding-left: 35px !important;
    }

    .demo-footer {
        padding-right: 35px !important;
        padding-bottom: 0 !important;
    }

    .demo-footer-text {
        text-align: center;

    }

    .download-header .img-mobile-icon,
    .demo-header .img-desktop-icon{
        width: 25%;
        display: block;
        //right:30rem;
        margin-left: 10vw;

        img{
            position: relative;
            transform: scale(1.4);
            z-index: 1;
        }
    }

    .download-footer .img-mobile-icon,
    .demo-footer .img-desktop-icon{
        width: 25%;
        display: block;
        //right:30rem;
        margin-right: 5vw;

        img{
            position: relative;
            transform: scale(1.4);
            z-index: 1;
            margin-top: 22vh;
        }
    }

    .demo-buttons-container .ugb-container__content-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 0 !important;

        .wp-block-image{
            width: 48%;
        }
    }
} 
//end of media query 1000px

@media screen and (min-width: 1300px){
    .download-header,
    .demo-header-text{
        padding-bottom: 0%;
    }

    .img-background-header img{
        //transform: scale(1.2);
        padding-top: 0;
    }

    .img-mobile-icon,
    .img-desktop-icon{

        img{
            transform: scale(1.2);
        }
    }
}
//end of media query 1300px