// Done by Luis
.how-to-desktop,
.how-to{
    background-color: $mid-green !important;
    border-radius: 10px;
    text-align: left;
    padding: 2%;
    margin: 1rem 1% 1rem 1%;

    h2{
        font-family: 'Source Serif Pro', serif;
        font-size: 37px;
        color: $brown;
        font-weight: bold;
        span{
            font-family: Lobster, serif ;
            font-weight: bold;
            font-size: 37px;
            color:$main-green;

        }
    }
    p{
        font-family:$font-how-steps;
        font-weight: 700;
        font-size: 18px;
        color:black;
    }
}

.how-to{
    padding: 0;
    margin: 0;
}



.how-to-desktop{
    ol{
        margin-left: 0;
        // max-width: 50%;
        
            li{
            font-family:$font-how-steps;
            font-weight: 700;
            font-size: 18px;
            color:black;
        }
    }
}

// .how-to-video{
//     max-width: 50%;
//     max-height: auto;
// }

@media screen and (min-width: 1000px){
    .how-to .ugb-container__content-wrapper{
        display: flex;
        justify-content: space-between;
}

.how-to-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 8px;
}

}

.question-accordeon{
    color: $main-green;
}