

// STYLING DONE BY KARLA LOPEZ 

.contact-content {
    background-color: $main-green;
}

.contact-main { /* (0, 0, 1, 0) */
    border-radius: 20px;
    padding-top: 4rem;
    padding-bottom: 4rem;

    .site-contact { /* (0, 0, 1, 0) */
        margin: 0;
        border-radius: 20px;
        padding: 2rem 5%;
        background-color: white;

        .entry-title { /* (0, 0, 1, 0) */
            font-family: $sc-font-family;
            font-weight: bold;
            font-size: 2.5rem;
            color: $accent;
            text-align: center;
            margin-top: 1rem;
        }

        .entry-content { /* (0, 0, 1, 0) */
            margin-top: 0;
        }

        .contact-us,
        .wp-block-ugb-container { /* (0, 0, 2, 0) */
            background-color: white !important;
            box-shadow: none;
            margin-top: 0 !important;
            margin-bottom: 0 !important;
            padding: 0;
        }

        .nf-form-cont { /* (0, 0, 1, 0) */
            margin-bottom: 0 !important;
        }

        p, 
        .nf-form-fields-required { /* (0, 0, 1, 1) */
            display: block;
            text-align: center;
            margin-bottom: 2rem;
        }

        .nf-field-label { /* (0, 0, 1, 0) */
            text-align: center;
            font-family: $sc-font-family;
        }

        .submit-wrap {
            text-align: center;
        }

        .nf-field-element {/* (0, 0, 1, 0) */ 

            input,
            select,
            textarea { /* (0, 0, 0, 3) */
                border-radius: 10px !important;
                background-color: $second-green !important;
                border: none !important;
            }

            #nf-field-4 { /* (0, 1, 0, 0) */
                background-color: $main-green !important;
                font-family: $bt-font-family;
                font-weight: $bt-font-weight;
                text-align: center;
                padding: 0.5rem 10% !important;
                margin: auto;
                width: 180px;
            }
        }

        .contact-us-image { /* (0, 0, 1, 0) */
            display: block;
        }

        .entry-footer { /* (0, 0, 1, 0) */
            display: none;
        }   
    }

    @media screen and (min-width:801px) {
        .contact-us .ugb-container__content-wrapper {
            display: grid;
            grid-template-columns: 69% 29%;
            grid-gap: 2%;

            .contact-us-form .ugb-container__content-wrapper {
                display: block;
            }
        }

        .site-contact .contact-us-image {
            display: flex;
            align-items: flex-start;                

            img {
                margin-bottom: 10%;
            }
        }
    }

}


