

// STYLING DONE BY KARLA LOPEZ 

.about-content {
    background-color: $mid-green;
}

.site-about { /* (0, 0, 1, 0) */

    border-radius: 20px;
    padding-top: 1rem;

    .site-description { /* (0, 0, 1, 0) */
        color: black;
        font-family: $sc-font-family;
        margin: 0;
        font-size: 1.2rem;
        text-align: center;
    }

    .team-logo { /* (0, 0, 1, 0) */
        width: 180px;
        margin: auto;
        margin-top: 0.5rem;

        img { /* (0, 0, 0, 1) */
            text-align: center;
        }

        @media screen and (min-width:760px){
            width: 150px;
        }
    }

    .about-us-content { /* (0, 0, 1, 0) */
        background-color: $main-green;
        border-radius: 20px;

        h1 { /* (0, 0, 0, 1) */
            margin: 0;
            color: white;
            font-family: $sc-font-family;
            text-align: center;
        }
        
        .wp-block-ugb-container { /* (0, 0, 1, 0) */
            background-color: transparent !important;
            border: none !important;
        }

        .entry-title { /* (0, 0, 1, 0) */
            font-family: $sc-font-family;
            font-weight: bold;
            font-size: 2.5rem;
            color: white;
            text-align: center;
            margin-top: 1rem;
        }

        p { /* (0, 0, 0, 1) */
            color: white;
            text-align: center;
            font-family: $font-main-menu;
        }

        .team-members-container ul { /* (0, 0, 1, 1) */
            list-style-type: none;
            margin-left: 0;
            padding-left: 0;
        }
        
        .team-members-container { /* (0, 0, 1, 0) */
            @media screen and (min-width:760px){
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
            }

            @media screen and (min-width:1000px) {
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;
            }
        }

        .team-member-name,
        .team-member-role { /* (0, 0, 2, 0) */
            color: black;
        }

        .team-member-name { /* (0, 0, 1, 0) */
            position: relative;  
            top: 30px;
            left: -8px;
            margin-top: 0;
        }

        #member-5-name { /* (0, 0, 0, 1) */
            left: -6px;
        }

        .team-member-role { /* (0, 0, 1, 0) */
            position: relative;
            top: -38px;
            left: -6px;
            margin-top: 0;
        }

        .team-member { /* (0, 0, 1, 0) */
            text-align: center;
            width: 320px;
            margin: auto;
        }

        .team-member-picture-container { /* (0, 0, 1, 0) */
            text-align: center;

            .background-container{ /* (0, 0, 1, 0) */
                background-image: url("asset/mask.png"); 
                background-position: 20px 1.2px;
                background-repeat: no-repeat;
                background-size: 300px;
                background-position: 9.5px 4.5px;
                margin-bottom: 0 !important;
                width: auto;
                height: auto;

                .team-member-picture { /* (0, 0, 1, 0) */
                    clip-path: url(#staff);
                    width: 100%;
                    margin: auto;
                }
            }
        }

        path.cls-2 { /* (0, 0, 1, 1) */
        transform: translate(-63px -123px) scale(0.65);   
        }


        svg:not(:root) { /* (0, 0, 2, 1) */
            overflow: hidden;
        }
    }
}