$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;


////Kiwe Colors done by Luis////

//Dark green
$main-green: rgba(98, 175, 70, 1); //Background, tag and download button for costumer side, join section for restaurant, and background on Contct us and About us.

//Medium green
$mid-green: rgba(179, 212, 116, 1); //How to Kiwe section and menu hamburger, Background for About us(Mix Bag section)

// Light green
$second-green: rgba(235, 241, 200, 1); // Header and footer, second header, F&Q section, and fields for contact us.

//white
$white: white; //Text for tags, Slogan, Background for WHat's Kiwe,Why you need kiwe and Contact us. Header on About Us.

//Brown
$brown: rgba(102, 75, 30, 1); //Background and registration button for restaurant side, download section for costumer. Main menu active

//Orange
$accent:rgba(246, 167, 27, 1); //Text for header on Whats Kiwe and Why you need Kiwe, and Kiwe premium on restaurant side. And contact us header.


//BUTTOMS - Costumer side
$bt-color : rgb(255, 255, 255); //white
$but-background-color: $main-green; //Dark green


//BUTTOMS - Restaurant side
$bt-color : rgb(255, 255, 255); //white
$but-background-color: $brown; //Brown


//Second Header
$second-header-color: $main-green;
$second-header-active: $brown;
$second-header-background: $second-green;



