$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;


////Kiwe Colors done by Luis////

//Dark green
$main-green: rgba(98, 175, 70, 1); //buttoms, search border, drop down header, reservation info border,"hellos", sections name.

// Light green
$csecond-green:rgba(235, 241, 200, 1); // All pages background, login form

//Orange
$accent:rgba(246, 167, 27, 1); //active icons, number border, waiting time background, restaurant name, information confirmation


//BUTTOMS
$bt-color : rgb(255, 255, 255); //white
$but-background-color: $main-green; //Dark green

//section names
$section-font-color: $main-green //Dark green


