$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;



//Kiwe typography - Done by Luis//

// Header
$font-main-menu: "open Sans" (18pts) semibold;

//Tag
$font-tag: "open Sans" (18pts) bold;

//Donwload/Register section
$font-call-text: "open Sans"  (20pts) regular;
$font-call-action: "Source Serif" (30pts) semibold;

//Slogan
$font-slogan: "Lobster" (88pts) regular;

//Second header
$font-second-header: "open Sans" (16pts) semibold;


//Sections
    //Header Section
        $font-section-header: "Source Serif" (37pts) bold;
    
    // Header Section Text
        $font-section-text: "Open Sans" (18pts) regular;

    //F&Q Questions
        $font-questions: "Source Serif" (24pts) semibold;
 

//Footer
$font-footer:"Open Sans" (14pts) regular;
$font-footer-copyright: "Open Sans" (14pts) light;


//BUTTOMS
$bt-font-family : Open Sans;
$bt-font-weight : bold;
$bt-font-size : 18px;


//section names
$sc-font-family : Source Serif Pro;//font family
$sc-font-size : 18px;//font size
$sc-text-transform : uppercase; //text transform


//witing time text
    $wtb-ff: Myriad Pro; //font family
    $wtb-fs: 20px; //font size
    $wt-lh: 15px; //line height

    //witing time text HOVER IMAGE
        $wtb-ff: Myriad Pro; //font family
        $wtb-fs: 13px; //font size
        $wt-lh: 10px; //line height
