.main-navigation,
#main-navigation-r {

	//margin: auto;
	display: block;
	margin-top: 4vh;
	width: 63vw;
	margin-right: 2vw;
	

	.menu-main-menu-container {
		display: none;
	}
	

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		// float: left;
		// position: relative;

	}

	a {
		display: block;
		text-decoration: none;
	}
}

/* Small menu. */
.menu-toggle,
.menu-toggle-r,
.main-navigation.toggled ul {
	display: block;
	
}

.main-navigation.toggled {
	

	.menu-main-menu-container {
		width: 100%;display: block;
	}

	#primary-menu {
		background-color: $main-green;
	}

	#primary-menu-r {
		background-color: $brown;
	}

	#primary-menu,
	#primary-menu-r {
		width: 100%;
		text-align: right;
		display: flex;
		width: 100vw;
		left: -35vw;
		position: relative;
		flex-wrap: wrap;
		align-items: flex-end;
		padding-top: 1vh;
		padding-bottom: 3vh;
		margin-top: 1vh;
		margin-bottom: 3vh;

		@media screen and (min-width:475px) {
			background-color: transparent;
		}

		li {
			display: inline-block;
			padding: 0.5rem 13px;
			width: 48%;
			text-align: center;

			a {
				color: white;
			}
		}
	}
}


.menu-toggle {
	background-image: url('asset/hamburger-menu.png');
	background-size: 25px;
	width: 100%;
	background-position-x: right;
	height: 35px;
	background-repeat: no-repeat;
	//margin-right: 8px;
	background-color: transparent;
	border: none;
}



.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}



@media screen and (min-width:475px) {
	.menu-toggle {
		display: none;
	}

	.main-navigation {
		align-self: center;
		margin-top: 0;

		.menu-main-menu-container {
			display: block;
		}
	}

		
	.main-navigation {
		display: block;
	}

	.main-navigation ul,
	.main-navigation.toggled ul {
		display:flex;
        justify-content: space-between;
        // width: 70vw;
	}

	// .main-navigation ul,
	// .main-navigation.toggled ul {
	// 	margin-top: 27px;;
	// }
		
		
}

