/*.page-id-18 .entry-content div:nth-child(2){
    background-color:$brown !important;
    border-radius: 10px;
    text-align: center;
    padding: 2%;
    margin: 1rem 1% 1rem 1%;

    box-shadow: none !important;

    color: white;

    font-family: 'Lobster', serif;
    font-size: 37px;
    letter-spacing: 1px;
}
.page-id-2 .entry-content div:nth-child(2){
    background-color:$brown !important;
    border-radius: 10px;
    text-align: center;
    padding: 2%;
    margin: 1rem 1% 1rem 1%;

    box-shadow: none !important;

    color: white;

    font-family: 'Lobster', serif;
    font-size: 37px;
    letter-spacing: 1px;
}
*/

#menu-secondary-menu-user li:nth-child(2), #menu-secondary-menu-restaurant li:nth-child(2){
    display: none;
}

@media screen and (min-width: 700px){
    #menu-secondary-menu-user li:nth-child(2){
        display: inline-block;
    }

    #menu-secondary-menu-restaurant li:nth-child(2){
        display: inline-block;
    }

    #menu-secondary-menu-user li:nth-child(3){
        display: none;
    }

    #menu-secondary-menu-restaurant li:nth-child(3)   {
        display: none;
    } 
}

.secondary-user-nav{
    list-style-type: none;
    padding: 1%;
    margin: 1rem 1% 1rem 1%;
    background-color: $mid-green;
    border-radius: 10px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-around;
    align-content: center;

    a:link, a:visited{
        color: black;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 18px;
               
    }
}

.user-about-kiwe, .user-how-kiwe, .restaurant-about-kiwe, .restaurant-how-kiwe{
    background-color: #fff !important;
    border-radius: 10px;
    text-align: left;
    padding: 2%;
    margin: 1rem 1% 1rem 1%;

    h2{
        font-family: 'Source Serif Pro', serif;
        font-size: 37px;
        color: $accent;
        font-weight: bold;
        span{
            font-family: Lobster, serif ;
            font-weight: bold;
            font-size: 37px;
            color:$main-green;

        }
    }

    p, li{
        font-family: $font-section-text, sans-serif ;
        font-weight: normal;
        font-size: 18px;
        color:black;
    }

    ul{
        margin: 1rem 1% 1rem 1%;
        //list-style-image: url('asset/kiwi-bullet.png');
        list-style-type: none;
        padding: 0;

        li{
            line-height: 1.5;
            margin: 0.5rem auto;
        }

        li::before{
            content: "";
            display: block;
            background: url("asset/kiwi-bullet.png") no-repeat;
            width: 20px;
            height: 20px;
            float: left;
            margin: 0 6px 0 0;
            

        }
   
        
    }
}

.business-plan-kiwe{
    background-color: #fff !important;
    border-radius: 10px;
    text-align: left;
    padding: 2%;
    margin: 1rem 1% 1rem 1%;

    h2{
        font-family: 'Source Serif Pro', serif;
        font-size: 37px;
        color: $accent;
        font-weight: bold;
        span{
            font-family: Lobster, serif ;
            font-weight: bold;
            font-size: 37px;
            color:$main-green;

        }
    }

    table,p{
        font-family: $font-section-text, sans-serif ;
        font-weight: normal;
        font-size: 18px;
        color:black;
        line-height: 1.5;

        @media screen and (min-width: 1000px){
            font-size: 24px;
        }

        tbody{

            tr{
                padding: 2%;
            }

            td{
                padding: 2%;
            }

            tr:nth-child(1){

                td:nth-child(2){
                    color: $accent;
                    font-family: 'Source Serif Pro',serif;
                    font-weight: bold;
                    font-size: 20px;
                    @media screen and (min-width: 1000px){
                        font-size: 28px;
                    }
                }
                td:nth-child(3){
                    color: $main-green;
                    font-family: 'Source Serif Pro',serif;
                    font-weight: bold;
                    font-size: 20px;
                    @media screen and (min-width: 1000px){
                        font-size: 28px;
                    }
                }
            }
        }
    }

}