* {
	border: none;
}

.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.user-content {
     background-color: $main-green;
}

.restaurant-content {
	background-color: $brown;
}

.site-main{
	max-width: 1200px;
	margin: 0 auto;
}
